___
## Assignment 3  
___
### Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [3]:
import pandas as pd

In [6]:
ecom=pd.read_csv('Ecommerce Purchases')

**Check the head of the DataFrame.**

In [7]:
df=ecom.head()
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           5 non-null      object
 1   Lot               5 non-null      object
 2   AM or PM          5 non-null      object
 3   Browser Info      5 non-null      object
 4   Company           5 non-null      object
 5   Credit Card       5 non-null      int64
 6   CC Exp Date       5 non-null      object
 7   CC Security Code  5 non-null      int64
 8   CC Provider       5 non-null      object
 9   Email             5 non-null      object
 10  Job               5 non-null      object
 11  IP Address        5 non-null      object
 12  Language          5 non-null      object
 13  Purchase Price    5 non-null      float64
dtypes: float64(1), int64(2), object(11)
memory usage: 692.0+ bytes

** What is the average Purchase Price? **

In [9]:
ecom['Purchase Price'].mean()

50.347302

** What were the highest and lowest purchase prices? **

In [10]:
ecom['Purchase Price'].max()

99.99

In [11]:
ecom['Purchase Price'].min()

0.0

In [12]:
ecom.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

** How many people have English 'en' as their Language of choice on the website? **

In [13]:
ecom['Purchase Price'].count()

10000

** How many people have the job title of "Lawyer" ? **

In [22]:
cout=ecom['Job']=='Lawyer'
cout.value_counts()

Job
False    9970
True       30
Name: count, dtype: int64

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [30]:
am= (ecom['AM or PM'] == 'AM').sum()
pm= (ecom['AM or PM'] == 'PM').sum()

print("Am count is : ",am)
print("Pm count is : ",pm)

Am count is :  4932
Pm count is :  5068

** What are the 5 most common Job Titles? **

In [38]:
ecom['Job'].value_counts().head()

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [39]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price'].values[0]

75.1

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [40]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email'].values[0]

'bondellen@williams-garza.com'

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [41]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** Hard: How many people have a credit card that expires in 2025? **

In [44]:
E=ecom[ecom['CC Exp Date'].apply(lambda x: int(x[-2:])) == 25]

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [48]:

  #  count=0
   # if 'google.com' in z:
    #    count=count+1
     #if 'yahoo.com' in z:
     #   count=count+1
     #   return count
   # elif 'hotmail..com' in z:

In [49]:
 ecom['df'] = ecom['Email'].str.split('@').str[1]

In [52]:
F=ecom['df'].value_counts().head(5)
F

df
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

# Great Job!